@use '@styles/mixins' as *;

.search,
.mobile-search {
  display: flex;
  align-items: center;
}

.search {
  @include on-desktop {
    margin-right: 24px;
  }
}

.search__input-box,
.mobile-search__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 12px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  background: var(--color-background);
  position: relative;
  max-width: 290px;
  .search__input,
  .mobile-search__input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    width: 100%;
    font-family: 'Mont';
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    color: var(--color-primary);
  }
  .search__clear-btn,
  .mobile-search__clear {
    position: absolute;
    right: 8px;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.search--toggle {
  display: none;
  @media (min-width: 640px) and (max-width: 1199px) {
    display: flex;
    align-items: center;
    &.is-expanded {
      position: absolute;
      top: 0;
      left: 112px;
      right: 112px;
      z-index: 1;
      display: flex;
      justify-content: center;
      height: 47px;
      background: var(--color-background);
      .search__input-box {
        max-width: 400px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .search__input {
    width: 320px;
  }
}

.mobile-search-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*.search__results {
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  background: var(--color-background);
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 8px 0;
  max-height: 250px;
  overflow-y: auto;
  z-index: 50;
}
.search__result-item {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: var(--color-pagination-button-background);
  }
}
.search__no-results,
.search__loading {
  padding: 12px;
  text-align: center;
  opacity: 0.7;
}
*/
