@use '@styles/mixins' as *;

.pagination {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 64px;

  & {
    @include on-desktop {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__btn {
    min-width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid var(--color-border);
    background-color: transparent;
    color: var(--color-primary);
    font:
      400 14px/21px 'Mont',
      sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;

    &:hover:not(:disabled) {
      border-color: var(--color-primary);
      cursor: pointer;
    }

    &:disabled {
      border-color: var(--color-border);
      cursor: not-allowed;
    }

    &.is-active {
      background-color: var(--color-pagination-button-background);
      color: var(--color-pagination-button-text);
      border-color: var(--color-border);
    }
  }

  &__arrow {
    border-color: var(--color-icon);

    &:disabled {
      border-color: var(--color-border);
      opacity: 0.4;
    }
  }

  .arrow-icon--left {
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    mask: url('@assets/icons/arrow-right.svg') center / contain no-repeat;
    transform: rotate(180deg);
  }

  .arrow-icon--right {
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    mask: url('@assets/icons/arrow-right.svg') center / contain no-repeat;
  }
}
