@use '@styles/mixins' as *;

.product {
  display: flex;
  flex-direction: column;

  @include on-tablet {
    gap: 64px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__main-img {
      display: flex;
      justify-content: center;
      padding: 7px;
      width: 288px;
      height: 288px;

      @include on-desktop {
        width: 464px;
        height: 464px;
      }
    }

    @include on-tablet {
      align-items: start;
      flex-direction: row-reverse;
      justify-content: start;
    }
  }

  &__sliders {
    display: flex;

    @include on-tablet {
      flex-direction: column;
      height: 464px;
      width: 80px;
    }

    &-item {
      height: 51px;
      width: 51px;

      @include on-tablet {
        width: 35px;
        height: 35px;
      }

      @include on-desktop {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__info {
    &-wrapper {
      @include on-tablet {
        width: 320px;
      }
    }
  }
}

.product__description {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    flex-direction: row;
    gap: 64px;

    .item-1 {
      flex: 3;
    }

    .item-2 {
      flex: 3;
    }
  }
}

.option {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--color-border);

  font:
    400 14px / 32px 'Mont',
    sans-serif;

  &.selected {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}

.go-back {
  display: flex;
  align-items: center;
  font:
    600 12px / 100% 'Mont',
    sans-serif;
  span {
    margin-top: 1px;
  }
}
