@use '@styles/mixins' as *;

.product {
  display: flex;
  flex-direction: column;

  @include on-tablet {
    gap: 64px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__slider {
    &__main-img {
      display: flex;
      justify-content: center;
      padding: 7px;
      width: 288px;
      height: 288px;

      @include on-desktop {
        width: 464px;
        height: 464px;
      }
    }
  }

  &__sliders {
    display: flex;

    @include on-tablet {
      flex-direction: column;
      height: 464px;
      width: 80px;
    }

    &-item {
      height: 51px;
      width: 51px;

      @include on-tablet {
        width: 35px;
        height: 35px;
      }

      @include on-desktop {
        width: 80px;
        height: 80px;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;

    @include on-desktop {
      flex-direction: row;
      gap: 64px;
    }

    .item-1 {
      @include on-desktop {
        flex: 10;
      }
    }
    .item-2 {
      @include on-desktop {
        flex: 9;
      }
    }
  }
}

.go-back {
  display: flex;
  align-items: center;
  font:
    600 12px / 100% 'Mont',
    sans-serif;
  span {
    margin-top: 1px;
  }
}
