@use '@styles/mixins' as *;

.cart-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-header__title-section {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.cart-header__title {
  line-height: 1.2;
  color: var(--color-primary);
  margin: 0;
}

.cart-header__count {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  font-family: 'Mont', sans-serif;
  color: var(--color-secondary);
}
