@use '@styles/mixins' as *;

.nav-content {
  display: flex;
  gap: 32px;

  @include on-desktop {
    gap: 64px;
  }

  &--mobile {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-top: 24px;
  }
}

.nav-item,
.nav-item-mobile {
  color: var(--color-secondary);
  text-decoration: none;
  font-family: 'Mont';
  font-weight: 800;
  font-size: 12px;
  line-height: 11px;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: color 0.3s;

  &--active {
    color: var(--color-primary);
  }

  &:hover {
    color: var(--color-primary);
  }
}

.nav-item {
  padding: 17px 0;

  @include on-desktop {
    padding: 25px 0;
  }

  &--active {
    border-bottom: 3px solid var(--color-primary);
  }

  &-mobile {
    text-align: center;
    padding: 8px 0;

    &--active {
      padding: 8px 0 6.4px;
      border-bottom: 2px solid var(--color-primary);
    }
  }
}
