@use '@styles/mixins' as *;

.favorites-header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  gap: 8px;

  &__count {
    font:
      400 14px/21px 'Mont',
      sans-serif;
    color: var(--color-secondary);
  }
}
