.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 500px;
  max-width: 280px;
  background-color: var(--color-background-secondary);
  border: 1px solid var(--color-border);
  border-radius: 8px;
  padding: 32px;
  transition: box-shadow 0.3s;
  gap: 8px;

  & * {
    box-sizing: border-box;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__product-parameters {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 77px;
  }

  &__product-screen,
  &__product-capacity,
  &__product-ram {
    display: flex;
    justify-content: space-between;
  }

  &__product-ram {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
  }
}

.add-to-fav-btn {
  position: absolute;
  top: 12px;
  right: 14px;
}
