@use '@styles/mixins' as *;

.slider-product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
  }

  &__wrapper {
    display: flex;
    width: 288px;
    gap: 16px;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      width: auto;
      height: 288px;
      flex-direction: row-reverse;
      gap: 20px;
    }

    @include on-desktop {
      height: 464px;
    }
  }

  &__img {
    position: relative;
    display: flex;
    justify-content: center;
    width: 288px;
    height: 288px;
    border-radius: 8px;

    @include on-tablet {
      height: 100%;
    }

    @include on-desktop {
      width: 464px;
      height: 464px;
    }
  }
  &__slides {
    border-radius: 8px;
    flex-wrap: wrap;
  }

  &__thumbs {
    width: inherit;
    border-radius: 8px;
    display: flex;
  }

  &__thumb {
    width: 51px;
    height: 51px;
    border: 1px solid #e2e6e9;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 51px;
    padding: 4.5px;

    @include on-tablet {
      padding: 3px;
    }

    @include on-desktop {
      height: 80px;
      width: 80px;
      padding: 7px;
    }

    &:hover {
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.swiper-slide-thumb-active {
  border-color: #0f0f11;
}

.slider-product-details__thumbs > .swiper-wrapper {
  gap: 8px;

  @include on-tablet {
  }

  @include on-desktop {
    gap: 16px;
  }
}

.slider-product-details__thumbs {
  .slider-product-details__thumb {
    border: 4px solid transparent; // default border

    &.swiper-slide-thumb-active {
      border-top-color: var(--color-button-add);
      border-bottom-color: var(--color-button-add);
      transform: scale(1.05);
      transition: all 0.3s;
    }
  }
}

.slider-product-details__thumbs {
  .slider-product-details__thumb {
    &.swiper-slide-thumb-active {
      border: 2px solid var(--color-button-add);
      border-radius: 8px;
    }
  }

  &:not(.is-vertical) {
    .slider-product-details__thumb {
      &.swiper-slide-thumb-active {
        border: 1px solid var(--color-button-add);
        border-radius: 8px;
      }
    }
  }
}
