.products-slider__buttons {
  display: flex;
  justify-content: flex-end;
}

.products-slider__controls {
  width: 80px;
  height: 32px;
  display: flex;
  justify-content: space-between;
}

.products-slider__arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--color-border);
  transition: border 0.2s ease-in-out;
  &:hover {
    border: 1px solid var(--color-secondary);
  }
}
.products-slider__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
