.option {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 32px;
  padding: 8px;
  border: 1px solid var(--color-border);

  font:
    400 14px / 32px 'Mont',
    sans-serif;

  &.selected {
    background-color: var(--color-primary);
    color: var(--color-background);
  }
}
