@use '@styles/mixins' as *;

.slider-product-details__image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;

    @media (max-width: 639px) {
      border-radius: 0;
    }
  }
}
