@use '@styles/mixins' as *;

.nav-icon-area,
.nav-icon-area-mobile {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: -1px 0px 0px 0px var(--color-border);
}

.nav-icon-area {
  width: 48px;
  height: 48px;

  @include on-desktop {
    width: 64px;
    height: 64px;
  }

  &--active {
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-primary);
  }
}

.nav-icon-area-mobile {
  width: 100%;
  height: 100%;

  &--active {
    border-top: 2px solid var(--color-primary);
    color: var(--color-primary);
  }
}

.nav-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-icon-badge {
  position: absolute;
  top: -6px;
  left: 10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid;

  background: var(--color-button-add);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Mont';
  font-size: 9px;
  font-weight: 600;
}
