@use 'mixins' as *;

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.inline-wrapper {
  @include content-margin-inline();
}

.content-wrapper {
  min-width: 320px;

  @include on-desktop {
    max-width: 1200px;
    margin-inline: auto;
  }
}

h1 {
  font:
    700 32px / 41px 'Mont',
    sans-serif;
  @include on-tablet {
    font:
      700 48px / 56px 'Mont',
      sans-serif;
  }
}

h2 {
  font:
    700 22px / 31px 'Mont',
    sans-serif;
  @include on-tablet {
    font:
      700 32px / 41px 'Mont',
      sans-serif;
  }
}

h3 {
  font:
    700 20px / 26px 'Mont',
    sans-serif;
  @include on-tablet {
    font:
      700 22px / 31px 'Mont',
      sans-serif;
  }
}

h4 {
  font:
    700 16px / 20px 'Mont',
    sans-serif;
  @include on-tablet {
    font:
      600 20px / 26px 'Mont',
      sans-serif;
  }
}
