@use 'mixins' as *;

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url('../assets/fonts/Mont-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.inline-wrapper {
  @include mixins.content-margin-inline();
}

.content-wrapper {
  min-width: 320px;

  @include on-desktop {
    max-width: 1200px;
    margin-inline: auto;
  }
}
