@theme {
  --color-primary: #0f0f11;
  --color-secondary: #89939a;
  --color-background: #ffffff;
  --color-background-secondary: #fafbfc;
  --color-border: #e2e6e9;
  --color-icon: #b4bdc3;
  --color-button-add: #4219d0;
  --color-like: #e2e6e9;
}

@layer base {
  :root {
    --color-primary: #000000;
    --color-secondary: #89939a;
    --color-background: #fafbfc;
    --color-background-secondary: #ffffff;
    --color-border: #e2e6e9;
    --color-icon: #b4bdc3;
    --color-background-icon: #ffffff;
    --color-button-add: #905bff;
    --color-button-text: #ffffff;
    --color-like: #ff6347;
  }
}

@layer base {
  .dark {
    --color-primary: #f1f2f9;
    --color-secondary: #75767f;
    --color-background: #0f1121;
    --color-background-secondary: #161827;
    --color-border: #323542;
    --color-icon: #4a4d58;
    --color-background-icon: #323542;
  }
}
