@use '@styles/mixins' as *;

.catalog-header {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;

  margin-bottom: -16px;

  &__models-count {
    font:
      400 14px/21px 'Mont',
      sans-serif;
    color: var(--color-secondary);
    margin-top: 8px;
    margin-bottom: 32px;
  }
}
