@use '@styles/mixins' as *;

.header {
  padding-left: 16px;
  height: 48px;

  @include on-desktop {
    padding-left: 24px;
    height: 64px;
  }

  &-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &-border {
    height: 1px;
    width: 100%;
    box-shadow: 0px -1px 0px 0px var(--color-border);
  }
}
