@use '@styles/mixins' as *;

.slider-product-details {
  &__arrow {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    top: 50%;
    transform: scale(1) translateY(-50%);
    padding: 8px;
    border-radius: 48px;
    background-color: var(--color-border);
    transition:
      box-shadow 0.2s ease-in-out,
      opacity 0.2s ease-in-out;

    &.visible {
      opacity: 1;
    }

    &--prev {
      left: -5px;
    }

    &--next {
      right: -5px;
    }

    @include on-tablet {
      opacity: 0;
    }

    &-icon {
      width: 16px;
      height: 16px;
    }

    &:active {
      transform: scale(0.95) translateY(-50%);
    }
  }

  .slider-product-details__img:hover &__arrow {
    @include on-tablet {
      opacity: 1;
    }
  }
}
