@use '@styles/mixins' as *;

.cart-item__name {
  font:
    700 14px / 21px 'Mont',
    sans-serif;
}

img {
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.cart-item__image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;

  @media (max-width: 639px) {
    border-radius: 0;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
