.contacts-template {
  max-width: 1400px;
  margin: 0 auto;
  padding: 48px 24px;
}

.contacts-header {
  margin-bottom: 48px;
  text-align: center;
}

.contacts-subtitle {
  font-size: 18px;
  color: #75767f;
  max-width: 600px;
  margin: 0 auto;
}
