.select {
  position: relative;

  &__button {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    background: var(--color-dropdown);
    border: 1px solid var(--color-dropdown-border);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: var(--color-secondary);
    }

    &.open {
      border-color: var(--color-primary);

      .select__arrow {
        transform: rotate(-180deg);
      }
    }
  }

  &__value {
    font:
      600 14px/21px 'Mont',
      sans-serif;
    color: var(--color-primary);
  }

  &__arrow {
    opacity: 0.2;
    width: 16px;
    height: 16px;
    background-color: var(--color-primary);
    mask: url('@assets/icons/arrow-down.svg') center / contain no-repeat;
  }

  &__dropdown {
    width: 100%;
    position: absolute;
    top: 44px;
    left: 0;
    background: var(--color-background-secondary);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
    z-index: 100;
  }

  &__item {
    padding: 10px 12px;
    font:
      400 14px/21px 'Mont',
      sans-serif;
    cursor: pointer;
    transition:
      background 0.3s,
      color 0.3s;
    color: var(--color-secondary);
    border-radius: 8px;

    &:hover {
      background: var(--color-background);
      color: var(--color-primary);
    }
  }
}
