.select {
  position: relative;

  &__input {
    width: 136px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--color-dropdown-border);
    background: var(--color-dropdown);
    cursor: pointer;
  }
}
