.range-slider {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 4px 0;
  margin-bottom: 10px;

  &__track {
    position: absolute;
    top: 50%;
    left: 1rem;
    right: -1rem;
    height: 3px;
    background-color: var(--color-border);
    border-radius: 3px;
    transform: translateY(-50%);
  }

  &__active-track {
    position: absolute;
    height: 3px;
    background-color: var(--color-button-add);
    border-radius: 3px;
  }

  &__thumb {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    background-color: white;
    border: 2px solid var(--color-button-add);
    border-radius: 50%;
    cursor: grab;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease;

    &:hover {
      transform: translate(-50%, -50%) scale(1.15);
    }

    &:active {
      cursor: grabbing;
      transform: translate(-50%, -50%) scale(1.25);
    }
  }

  &__value {
    position: absolute;
    bottom: -250%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 6px;
    font:
      400 11px/11px 'Mont',
      sans-serif;
    background: var(--color-background);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    white-space: nowrap;
  }
}
