.btn {
  display: block;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  transition:
    color 3s,
    background-color 3s;

  &-primary {
    color: var(--color-primary);
    background-color: var(--color-button-add);
  }

  &-icon {
    position: absolute;
    top: 12px;
    right: 14px;
    border: 1px solid #b4bdc3;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
