.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;

  border-radius: 8px;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-primary {
    background-color: var(--color-button-add);
    color: var(--color-button-text);
    border: none;

    &:hover {
      background-color: var(--color-button-add);
      box-shadow: 0px 3px 13px rgba(23, 32, 49, 0.4);
    }

    &.is-active {
      background-color: transparent;
      color: var(--color-button-add);
      border: 1px solid var(--color-border);
      box-shadow: none;
    }
  }
}
