.btn {
  display: block;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-family: 'Mont';
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  &-primary {
    color: var(--color-button-text);
    background-color: var(--color-button-add);
    height: 40px;
  }

  &-icon {
    display: flex;
    justify-content: center;
  }
}
