@use '@styles/mixins' as *;

.back-button {
  display: flex;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.back-button__text {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 1;
  padding-bottom: 1px;
}
