@use '@styles/mixins' as *;

.filters-bar__wrapper {
  height: 100%;
  align-items: flex-start;
  position: relative;
  display: flex;

  @include on-desktop {
    align-items: flex-end;
  }
}

.filters-bar {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  &--price-only {
    width: 100%;
  }

  &--other-filters-only {
    flex: 1;
    width: auto;
    gap: 16px;
  }

  &__content {
    display: flex;
    gap: 16px;
    align-items: flex-start;

    @include on-desktop {
      flex-wrap: nowrap;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 140px;
    height: 77px;
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &--ram {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
    }

    &--capacity {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
    }

    &--size {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
    }
  }

  &--vertical {
    width: 100%;

    .filters-bar__content {
      flex-direction: column;
      gap: 24px;
      width: 100%;
    }

    .filters-bar__section {
      width: 100%;
    }

    .filters-bar__checkboxes {
      &--ram {
        grid-template-columns: repeat(2, 1fr);
      }

      &--capacity {
        grid-template-columns: repeat(3, 1fr);
      }

      &--size {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__price-section {
    width: 100%;
  }

  &__selected-colors {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
    top: -15%;
    left: 0;
  }

  &__selected-color {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    background-color: var(--color-border);
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &__selected-color-name {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-primary);
    text-transform: capitalize;
  }

  &__selected-color-close {
    width: 12px;
    height: 12px;
    opacity: 1;
    transition: opacity 0.2s ease;
    cursor: pointer;
  }

  &__color-button {
    width: 100%;
    height: 40px;
    font:
      600 14px/40px 'Mont',
      sans-serif;
    cursor: pointer;
    border-radius: 8px;
    background: var(--color-dropdown);
    border: 1px solid var(--color-dropdown-border);
    border-radius: 8px;
    transition: all 0.3s ease;
    color: var(--color-primary);
    justify-content: center;

    &:hover {
      border-color: var(--color-secondary);
      background-color: var(--color-background-secondary);
    }

    &.is-active {
      background-color: var(--color-button-add);
      color: var(--color-button-text);
      border-color: var(--color-button-add);
    }
  }

  &__divider {
    width: 1px;
    height: 60px;
    background-color: var(--color-primary);
    align-self: flex-start;
    margin-top: 20px;
  }

  &__reset {
    padding: 6px 12px;
    border-radius: 8px;
    background: var(--color-dropdown);
    border: 1px solid var(--color-dropdown-border);
    color: var(--color-primary);
    font:
      400 12px/16px 'Mont',
      sans-serif;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;

    &:hover {
      border-color: var(--color-secondary);
      background-color: var(--color-background-secondary);
      color: var(--color-primary);
    }

    &--vertical {
      width: 100%;
      margin-top: 8px;
    }
  }
}
