@use '@styles/mixins' as *;

.add-to-cart-button__controls {
  display: flex;
  align-items: center;
  gap: 12px;
}

.add-to-cart-button__quantity {
  font-size: 14px;
  font-weight: 600;
  color: #313237;
  white-space: nowrap;
}

@include on-tablet {
  .add-to-cart-button__controls {
    gap: 8px;
  }

  .add-to-cart-button__quantity {
    font-size: 13px;
  }
}
