.filter-section {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
    justify-content: center;
  }
}
