@use '@styles/mixins' as *;

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background: transparent;
  line-height: 0;
  width: 48px;
  height: 48px;
  box-shadow: -1px 0px 0px 0px var(--color-border);

  @include on-desktop {
    width: 64px;
    height: 64px;
  }
}
