.slider-hero {
  position: relative;
  max-width: 1136px;
  margin: 0 auto;

  @media (max-width: 639px) {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  &__container {
    padding: 0 40px;

    overflow: hidden;
    position: relative;

    @media (max-width: 639px) {
      padding: 0;
    }
  }

  &__slide {
    cursor: pointer;
    position: relative;

    @media (max-width: 639px) {
      display: block;
      padding: 0;
    }
  }

  &__image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: cover;
      border-radius: 8px;

      @media (max-width: 639px) {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        max-height: none;
        border-radius: 0;
      }
    }
  }

  &__arrow {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    top: 0;
    height: calc(100% - 32px);
    transform: none;
    padding: 0 8px;
    border-radius: 48px;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;

    &:hover {
      border: 2px solid var(--color-border);
    }

    &--prev {
      left: 0px;
    }

    &--next {
      right: 0px;
    }

    @media (max-width: 639px) {
      display: none;
    }

    .slider-hero__arrow-icon {
      width: 6px;
      height: 9px;
    }
  }

  &__pagination {
    text-align: center;
    height: 24px;
    margin-top: 8px;
  }
}

.arrow-icon {
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  width: 6px;
  height: 9px;
  background-color: var(--color-primary);
}

.arrow-icon[data-icon='next'] {
  mask-image: url('@/assets/icons/nextSlider.svg');
}

.arrow-icon[data-icon='prev'] {
  mask-image: url('@/assets/icons/prevSlider.svg');
}

.swiper-pagination-bullet {
  width: 14px;
  height: 4px;
  border-radius: 0;
  background-color: var(--color-secondary);
  margin: 0 4px;
  opacity: 1;
  transition: background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

.swiper {
  border-radius: 8px;

  @media (max-width: 639px) {
    border-radius: 0;
  }

  &-wrapper {
    max-height: none;

    @media (max-width: 639px) {
      max-height: none;
    }
  }
}

.swiper-slide {
  border-radius: 8px;

  @media (max-width: 639px) {
    border-radius: 0;
  }
}
