@use '@styles/mixins' as *;

.slider {
  margin-inline: 0;

  @include on-tablet {
    margin-inline: 24px;
  }

  @include on-desktop {
    margin-inline: 32px;
  }
}

.homepage {
  &-block__wrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-tablet {
      gap: 64px;
    }

    @include on-tablet {
      gap: 80px;
    }

    &__text-block {
      display: flex;
      flex-direction: column;
      gap: 4px;
      height: 51px;
    }
  }
}
